@page "/"

@inject ISqlDataAccess sqlDataAccess

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if(users is not null && users.Any())
{
    <ul>
        @foreach (var user in users)
        {
            <li>@user.FirstName (@user.LastName)</li>
        }
    </ul>
}
else
{
    <p>No users found.</p>
}


@code {
    private List<UserModel>? users;

    protected override async Task OnInitializedAsync()
    {
        // Example of using the injected ISqlDataAccess service
        users = await sqlDataAccess.LoadDataAsync<UserModel,dynamic>("dbo.spUsers_GetTop10",new { },"DefaultConnection");
    }
}
